// $color-primary:#144365;
$color-primary: #01426a;
$color-secondary:#127bb6;
$color-tertiary: #19b1d1;
$color-highlight: #b1d78a;
$color-text: #fff;
$branding-font: 'Poppins', Helvetica, Arial, sans-serif;
$animation-duration: 500ms;
$curve: ease-in-out;

@keyframes fadeInText {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@mixin transition($element) {
	-webkit-transition: $element $animation-duration $curve;
	-moz-transition: $element $animation-duration $curve;
	-ms-transition: $element $animation-duration $curve;
	-o-transition: $element $animation-duration $curve;
	transition: $element $animation-duration $curve;
}