@import url('https://fonts.googleapis.com/css?family=News+Cycle');

$p-font: 'News+Cycle', sans-serif;
$h-font: 'News+Cycle', serif;

h1, h2, h3, h4, h5, h6 {
  font-family: $h-font;
}

p {
  font-family: $p-font;
}