@import url('https://fonts.googleapis.com/css?family=News+Cycle');
@import './normalize.css';

$color-primary: #01426a;
$color-secondary: #2774ae;
// $color-tertiary: rgb(72, 169, 197);
// $color-highlight: rgb(179, 213, 125);
$p-font: 'News+Cycle', sans-serif;
$h-font: 'News+Cycle', serif;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: initial;
}
html,
body {
	position: relative;
	// font-size: ;
	// color: $color-primary;
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: $h-font;
}

@keyframes fadeInText {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes moveInRight {
	0% {
		transform: translateX(10rem);
	}

	100% {
		transform: translate(0);
	}
}
