@import './normalize.css';
@import './_base';
@import url('https://fonts.googleapis.com/css?family=Poppins');

*,
*::before,

*::after {
	margin: 0;
	padding: 0;
	box-sizing: initial;
}
html,
body {
	position: relative;
	color: $color-primary;
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
	color: $color-text;
}
