@import "../../style/_base.scss";

.main-nav {
  background-color: $color-secondary;
  position: relative;
  height: 100%;
  width: 100%;
  left: -100%;
  @include transition(all);
  color: $color-text;
  font-size: 1.1em;
  overflow: scroll;
  cursor: pointer;
  &.active {
    left: 0;
  }

.user-container {
  position: relative;
  height: 7rem;
  width: 100vw;
  background-image: url(../../../assets/sky.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  // z-index: 2;
  P {
    padding-left: 25px;
  }
}

  > ul > li.primary-nav {
    &.selected {
      background: $color-text;
      color: $color-secondary;
      @include transition(background);
    }
  }

  .secondary-nav {
    position: absolute;
    height: 100%;
    top: 7rem;
    background-color: $color-secondary;
		@include transition(all);
    border-left: 1px solid $color-tertiary;
    cursor: pointer;
    
    &.active {
      right: 0;
      transform: translateX(0) !important;
      .arrow.selected{
      transition: transform 300ms ease-in-out;
      transform: rotate(90deg);
      float: right;
      }
    }
    li {
      text-transform: capitalize;
      grid-template-columns: 1fr 20px;
    }
  }
  .tertiary-nav {
    max-height: 0;
    @include transition(all);
		display: block;
		position: absolute;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
    &.active {
      height: 100%;
			max-height: 1000px;
			opacity: 1;
      position: relative;
      ul{
        width: 120%;
        left: -15px;
        /* padding-left: 26px; */
        position: relative;
        background-color: $color-tertiary;
        top: 15px;
        
        border-top: 1px solid $color-secondary;
        li{
          padding-left: 26px;
          border-bottom: 1px solid $color-secondary;

        &:last-child{
          border-bottom: none;
        }
      }
      }
    }
  }

  li {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    border-bottom: 1px solid $color-tertiary;
    text-transform: uppercase;
    display: grid;
    overflow: hidden;
		grid-template-columns: 30px 1fr 20px;
		color: $color-text;
    i.arrow {
      float: right;
      text-align: center;
    }
  }
}

.wrapper {
  display: inline-block;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  height: 2.5rem;
  width: 3rem;
}

.show-nav {
  display: inline-block;
  height: 3rem;
  padding: 2rem 0;
  position: relative;
  box-sizing: border-box;
}

.show-nav.active {
  height: 3rem;
}

.show-nav span {
  width: 3rem;
  height: 0.3rem;
  background: #fff;
  float: left;
  content: "";
  @include transition(all);
  position: absolute;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.show-nav span:nth-child(2) {
  top: 0rem;
  bottom: 0rem;
  margin: auto;
}

.show-nav span:first-child {
	top: 1rem;
	
}

.show-nav span:last-child {
  bottom: 1rem;
}

.show-nav.active span:first-child {
  transform: rotate(45deg);
  top: 0rem;
  bottom: 0rem;
  margin: auto;
  background: #fff;
}

.show-nav.active span:last-child {
  transform: rotate(-45deg);
  top: 0rem;
  bottom: 0rem;
  margin: auto;
  background: #fff;
}

.show-nav.active span:nth-child(2) {
  transform: rotate(-45deg);
  opacity: 0;
}