@import '../../style/_base.scss';

// .nav-container{
// 	background-image: url(../../../assets/sky.jpg);
// }

.main-nav {
	background-color: $color-secondary;
	position: absolute;
	height: 100%;
	width: 100%;
	left: -100%;
	transition: all 400ms ease-in;
	color: #FFF;
	font-size: 1.1em;
	overflow: scroll;
	&.active {
		left: 0
	}
	

	.secondary-nav {
		height: 100%;
		width: calc(100% - 30px);
		right: 100%;
		position: absolute;
		top: 0;
		background-color: $color-secondary;
		transition: all 400ms ease-in;
		&.active {
			right: 0;
		}
		li{
			text-transform: capitalize;
			
		}
	}
	li{
		padding-top: 15px;
		padding-bottom: 15px;
		padding-right: 15px;
		padding-left: 15px;
		border-bottom: 1px solid #FFF;
		border-left: 1px solid #FFF;
		border-right: 1px solid #FFF;
		text-transform: uppercase;
		display: block;
		i.arrow{
			float:right;
		}
	}

}

.wrapper {
	display: inline-block;
	position: absolute;
	top: 1rem;
	right: 1.5rem;
	cursor: pointer;
	height: 2.5rem;
	width: 3rem;
}

.show-nav {
	display: inline-block;
	height: 3rem;
	padding: 2rem 0;
	position: relative;
	box-sizing: border-box;
}

.show-nav.active {
	height: 3rem;
}

.show-nav span {
	width: 3rem;
	height: 0.3rem;
	background: #fff;
	float: left;
	content: '';
	transition: all ease-in-out 0.2s;
	position: absolute;
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.show-nav span:nth-child(2) {
	top: 0rem;
	bottom: 0rem;
	margin: auto;
}

.show-nav span:first-child {
	top: 1rem;
}

.show-nav span:last-child {
	bottom: 1rem;
}

.show-nav.active span:first-child {
	transform: rotate(45deg);
	top: 0rem;
	bottom: 0rem;
	margin: auto;
	background: #fff;
}

.show-nav.active span:last-child {
	transform: rotate(-45deg);
	top: 0rem;
	bottom: 0rem;
	margin: auto;
	background: #fff;
}

.show-nav.active span:nth-child(2) {
	transform: rotate(-45deg);
	display: none;
}